.carousel-container {
  width: 100px;
  margin: 0 auto; /* Center carousel */
}

/* Carousel.css */
.carousel {
  height: 400px;
}
.carousel img {
  height: 100%; /* Adjust this height */
  object-fit: cover; /* Crop to fit container */
}

@media (max-width: 1024px) {
  .carousel-container h3 {
    font-size: 20px;
    line-height: 300px;
  }
}

@media (max-width: 768px) {
  .carousel-container h3 {
    font-size: 18px;
    line-height: 200px;
  }
}

@media (max-width: 480px) {
  .carousel-container h3 {
    font-size: 16px;
    line-height: 150px;
  }
}
